{{#> layouts/main}}
  {{#> card
      title="Are you sure you want to unsubscribe?"
      subtitle="Just click unsubscribe below and we won't send you any more emails."
  }}
  <div class="card-buttons">
    {{> button class="click_me" text="Unsubscribe" }}
  </div>
  {{/card}}
  {{> footer }}
  <script>
    var btn = document.querySelector('.click_me');
    btn.addEventListener('click', () => {
      console.log('you just got clicked')
    });
  </script>
{{/layouts/main}}